<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Calendrier</title>
    <link rel="stylesheet" href="./stylesheets/index-styles.min.css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Calendrier des prochains événements de l'association Découverto">
    <meta name="image" content="https://decouverto.fr/icons/512.png">
    <meta itemprop="name" content="Découverto | Calendrier">
    <meta itemprop="description" content="Calendrier des prochains événements de l'association Découverto">
    <meta itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta name="og:title" content="Découverto | Calendrier">
    <meta name="og:description" content="Calendrier des prochains événements de l'association Découverto">
    <meta name="og:url" content="https://decouverto.fr/calendrier/">
    <meta name="og:site_name" content="Découverto">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <header>
        <h1>Découverto</h1><a href="/">Accueil</a>
    </header>
    <section class="content">
        <h2>Événements à venir</h2>
        <%if (events.length == 0) { %>
            <p>Aucun événements disponible.</p>
        <% } else { %>
            <% for(var i=0; i<events.length; i++) {%>
                    <div class="card events" id="<%= events[i].id %>">
                        <h4 class="title"><%= events[i].title %></h4>
                        <p><b>Date:</b> <%= events[i].formatedDate %></p>
                        <p><b>Type:</b> <%=events[i].type%></p>
                        <div class="description"><%- events[i].description %></div>
                        <%if (events[i].is_located) { %>
                            <p><b>Lieu:</b> <%=events[i].location.name %></p>
                            <a href="http://maps.google.com/?q=<%= events[i].location.lat %>,<%= events[i].location.long %>" target="_blank" title="Point de départ">S'y rendre</a>
                        <% } %>
                        <%if (events[i].can_subscribe) { %>
                            <a class="subscribe">S'inscrire</a>
                        <% } %>
                    </div>
            <% } %>
        <% } %>
    </section>
    <%- include('includes/footer'); %>
    <script type="text/javascript" src="/javascripts/index/build.js"></script>
</body>
</html>
