<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Découverto | Calendrier</title>
    <link rel="stylesheet" href="./stylesheets/index-styles.min.css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="theme-color" content="#dc3133">
    <meta name="msapplication-navbutton-color" content="#dc3133">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Calendrier des prochains événements de l'association Découverto">
    <meta name="image" content="https://decouverto.fr/icons/512.png">
    <meta itemprop="name" content="Découverto | Calendrier">
    <meta itemprop="description" content="Calendrier des prochains événements de l'association Découverto">
    <meta itemprop="image" content="https://decouverto.fr/icons/512.png">
    <meta name="og:title" content="Découverto | Calendrier">
    <meta name="og:description" content="Calendrier des prochains événements de l'association Découverto">
    <meta name="og:url" content="https://decouverto.fr/calendrier/">
    <meta name="og:site_name" content="Découverto">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:admins" content="1803338833217763">
    <meta name="og:type" content="website">
</head>
<body>
    <header>
        <h1>Découverto</h1><a href="/">Accueil</a>
    </header>
    <section class="content">
        <p>Se désinscrire d'un événement: <input type="email" id="email-leave" placeholder="Email" class="email-leave"> <a class="btn-leave" id="btn-leave">Se désinscrire</a></p>
        <h2>Événements à venir</h2>
        <%if (events.length == 0) { %>
            <p>Aucun événements disponible.</p>
        <% } else { %>
            <% for(var i=0; i<events.length; i++) {%>
                    <div class="card events" id="<%= events[i].id %>">
                        <h4 class="title"><%= events[i].title %></h4>
                        <p><b>Date:</b> <%= events[i].formatedDate %></p>
                        <p><b>Type:</b> <%=events[i].type%></p>
                        <div class="description"><%- events[i].description %></div>
                        <%if (events[i].is_located) { %>
                            <p><b>Lieu:</b> <%=events[i].location.name %></p>
                            <a href="http://maps.google.com/?q=<%= events[i].location.lat %>,<%= events[i].location.long %>" target="_blank" title="Point de départ">S'y rendre</a>
                        <% } %>
                        <%if (events[i].can_subscribe) { %>
                            <%if (events[i].number_limit != events[i].emails.length) { %>
                                <a class="subscribe subscribe-btn" eventid="<%= events[i].id %>" eventtitle="<%= events[i].title %>">S'inscrire</a>
                            <% } else { %>
                                <p class="event_full">Plus de place disponible.</p>
                            <% } %>
                        <% } %>
                    </div>
            <% } %>
        <% } %>
    </section>


    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Inscription</h2>
            </div>
            <div class="modal-body">
                <div id="default-modal-body"> 
                    <p>Vous allez vous inscire à l'événement "<span id="event-choosed"></span>".</p>
                    <p>Vous pouvez vous désinscrire à tout moment.</p>
                    
                    <form>
                        <p class="warn" id="warn-form" style="display: none;">Le formulaire est invalide.</p>
                        <p class="error" id="error-form" style="display: none;">Une erreur est survenue. Il se peut que vous soyez déjà inscrit ou que trop de personnes soient inscrites.</p>
                        <div class="input-group">
                            <label for="name-input">Nom:</label>
                            <input type="text" id="name-input" placeholder="Nom" class="input">
                        </div>
                        <div class="input-group">
                            <label for="firstname-input">Prénom:</label>
                            <input type="text" id="firstname-input" placeholder="Prénom" class="input">
                        </div>
                        <div class="input-group">
                            <label for="email-input">Email:</label>
                            <input type="email" id="email-input" placeholder="Email" class="input">
                        </div>
                        <button class="subscribe" id="subscribe-btn">S'inscrire</button>
                    </form>
                    
                    <p class="data-privacy">Vos données personnelles ne seront pas vendues et seront supprimées de nos serveurs une fois l'événement passé.</p>
                </div>
                <div id="success-modal-body" style="display: none;">
                    <p>Vous avez bien été inscrit.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer'); %>
    <script type="text/javascript" src="/javascripts/index/build.js"></script>
</body>
</html>
